<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/global.css">
    <link rel="stylesheet" href="../../static/frontpage.css">
</head>
<body>


<a id="title" href="/"><h1>NORDIC MOTOR HOMES</h1></a>

<nav>
    <div id="outer-nav-bar">
        <div class="table">
            <ul id="nav-bar">
                <li class="border"><a href="/">HOME</a></li>
                <li class="border"><a href="../register_customer/register_customer.html">REGISTER CUSTOMER</a></li>
                <li class="border"><a href="../book_a_car/book_a_car.html">BOOK A CAR</a></li>
                <li class="border"><a href="../gallery/gallery.html">GALLERY</a></li>
                <li class="border"><a href="../bookings/bookings.html">BOOKINGS</a></li>
                <li class="border"><a href="../mechanic/mechanic.html">MECHANIC</a></li>
                <li class="border"><a href="../employees/employees.html">EMPLOYEES</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="front_page_picture_div">
    <img src="../../bc_sonic-motorhomes.jpg" alt="Picture of a motorhome and two people sitting outside"
         id="front_page_picture">
</div>

<footer>
    <div id="footer">
        <div class="footer-table">
            <ul id="footer-bar">
                <li class="border"><a href="https://www.instagram.com">INSTAGRAM</a></li>
                <li class="border"><a href="https://www.twitter.com">TWITTER</a></li>
                <li class="border"><a href="https://www.facebook.com">FACEBOOK</a></li>
                <li class="border"><a href="https://www.linkedin.com">LINKEDIN</a></li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>