<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Motorhome Nordic</title>
    <link rel="stylesheet" href="../../static/gallery.css">
    <link rel="stylesheet" href="../../static/frontpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<header>
    <a id="title" href="../frontpage/index.html"><h1>NORDIC<br>MOTORHOMES</h1></a>
    <nav>
        <div class="table">
            <ul id="nav-bar">
                <!--                <li class="border"><a href="/">HOME</a></li>-->

                <li class="border"><a href="../register_customer/register_customer.html">REGISTER CUSTOMER</a></li>
                <li class="border"><a href="../book_a_car/book_a_car.html">BOOK A CAR</a></li>
                <li class="border"><a href="../gallery/gallery.html">GALLERY</a></li>
                <li class="border"><a href="../bookings/bookings.html">BOOKINGS</a></li>
                <li class="border"><a href="../mechanic/mechanic.html">MECHANIC</a></li>
                <!--                <li class="border"><a href="../employees/employees.html">EMPLOYEES</a></li>-->
                <li class="search-container"> <input type="text" name="search-text" placeholder="Search..." class="search-input" /> <button class="search-button">&#x1F50D</button></li>
            </ul>
        </div>
        </div>
    </nav>
</header>

<div id="front_page_picture_div">
    <!--    <img src="../../bc_sonic-motorhomes.jpg" alt="Picture of a motor home and two people sitting outside during night"-->
    <!--         id="front_page_picture">-->
    <img src="../../day_sonic_of_hero_web.jpeg" alt="Picture of a motor home and two people sitting outside during the day" id="front_page_picture_day">
</div>
<br>
</body>
<h2>Motorhomes</h2>

<body>
<div class="box-container">
    <div class="gallery">
        <img class="p-picture" src="../../motorhome_pictures/8.png" alt="">
        <h4 class="p-price">price</h4>
        <h4 class="p-number-of-beds">number of beds</h4>
        <br>
        <button class="buy-now-bt">Book now</button>
    </div>
    <div class="products">
        <img class="p-picture" src="../../motorhome_pictures/2.png" alt="">
        <h4 class="p-price">price</h4>
        <h4 class="p-number-of-beds">number of beds</h4>
        <br>
        <button class="buy-now-bt">Book now</button>
    </div>
    <div class="products">
        <img class="p-picture" src="../../motorhome_pictures/3.png" alt="">
        <h4 class="p-price">price</h4>
        <h4 class="p-number-of-beds">number of beds</h4>
        <br>
        <button class="buy-now-bt">Book now</button>
    </div>
    <div class="products">
        <img class="p-picture" src="../../motorhome_pictures/7.png" alt="">
        <h4 class="p-price">price</h4>
        <h4 class="p-number-of-beds">number of beds</h4>
        <br>
        <button class="buy-now-bt">Book now</button>
    </div>
    <div class="products">
        <img class="p-picture" src="../../motorhome_pictures/5.png" alt="">
        <h4 class="p-price">price</h4>
        <h4 class="p-number-of-beds">number of beds</h4>
        <br>
        <button class="buy-now-bt">Book now</button>
    </div>
    <div class="products">
        <img class="p-picture" src="../../motorhome_pictures/6.png" alt="">
        <h4 class="p-price">price</h4>
        <h4 class="p-number-of-beds">number of beds</h4>
        <br>
        <button class="buy-now-bt">Book now</button>
    </div>
    <div class="products">
        <img class="p-picture" src="../../motorhome_pictures/4.png" alt="">
        <h4 class="p-price">price</h4>
        <h4 class="p-number-of-beds">number of beds</h4>
        <br>
        <button class="buy-now-bt">Book now</button>
    </div>
    <div class="products">
        <img class="p-picture" src="../../motorhome_pictures/1.png" alt="">
        <h4 class="p-price">price</h4>
        <h4 class="p-number-of-beds">number of beds</h4>
        <br>
        <button class="buy-now-bt">Book now</button>
    </div>
    <div>
    <h2>Accessories</h2>

<div class="box-container">
<div class="gallery">
    <img class="p-picture" src="../../" alt="">
    <h4 class="p-price">price</h4>
    <br>
</div>
<footer>
    <div id="footer">
        <section class="footer-table">
            <div class="social">
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
            </div>

            <ul class="list">
                <li>
                    <a href="../about/about.html">ABOUT</a>
                </li>
                <li>
                    <a href="../contact/contact.html">CONTACT</a>
                </li>
                <li>
                    <a href="../map/map.html">MAP</a>
                </li>
            </ul>
            <p class="copyright">
                Motorhome Nordic @ 2022
            </p>
        </section>
    </div>

</footer>
</div>
</body>
</html>