
*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: Gill Sans, sans-serif;
}
.accessories{
    position: relative;
    flex-direction: column;
    margin:0;
    padding:40px;
}
/*design of gallery*/
.box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.p-picture{
    max-height: 350px;
    padding:30px;
}
.book-now-bt{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.book-now-bt:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.book-now-bt:active{
    transform: translateY(-1px);
}
.table {
    display: table;
    margin: 0 auto;
}