/* Author: Team */

div#service-table-container {
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 220px;
}

table#service-table {
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

h2#view-Service-title {
    font-size: 24px;
    padding-bottom: 20px;
}

table {
    width: 50%;
    background-color: lightgray;
}

tr {
    font-size: 20px;
}

tr:nth-child(even) {
    background-color: white;
    align-content: center;
    padding: 5px;
}
