<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/frontpage.css">
    <link rel="stylesheet" href="/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/static/contact.css">
    <link rel="stylesheet" href="/static/frontpage.css">
    <link rel="stylesheet" href="../../static/global.css">

</head>
<body>
<header id="top-bar">
    <a id="title" href="/"><h1>NORDIC<br>MOTORHOMES</h1></a>
    <nav>

        <div class="table">
            <ul id="nav-bar">
                <!--                <li class="border"><a href="/">HOME</a></li>-->

                <li class="border"><a href="/register_customer">REGISTER CUSTOMER</a></li>
                <li class="border"><a href="/book_a_car">BOOK A CAR</a></li>
                <li class="border"><a href="/gallery">GALLERY</a></li>
                <li class="border"><a href="/bookings">BOOKINGS</a></li>
                <li class="border"><a href="/mechanic">MECHANIC</a></li>
                <!--                <li class="border"><a href="../employees/employees.html">EMPLOYEES</a></li>-->
                <li class="search-container"><label>
                    <input type="text" name="search-text" placeholder="Search..."
                           class="search-input"/>
                </label>
                    <button class="search-button">&#x1F50D</button>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div id="front_page_picture_div">
    <!--    <img src="../../bc_sonic-motorhomes.jpg" alt="Picture of a motor home and two people sitting outside during night"-->
    <!--         id="front_page_picture">-->
    <img src="https://raw.githubusercontent.com/moniozd/2ndsemesterproject/main/MotorhomesProject/src/main/resources/day_sonic_of_hero_web.jpeg"
         alt="Picture of a motor home and two people sitting outside during the day" id="front_page_picture_day">
</div>

<div id="page-section">
    <div class="column-container">
        <div id="padding-1">

        </div>
    </div>

    <h2 id="contact-title">Get in touch</h2>

    <div class="row">
        <div class="column">
            <div class="icon-size">
                <img class="svg-icon"
                     src="https://raw.githubusercontent.com/moniozd/2ndsemesterproject/805046fc4b87225266e54bfdc7cc8ecc8bcf2d0f/MotorhomesProject/src/main/resources/contact_icons/pin-svgrepo-com-2.svg"
                     alt="map pin icon">
            </div>
            <h3>ADDRESS</h3>
            <p class="box-icon-content">
                        <span>
                            <b>Nordic Motor Homes</b>
                            <br>
                            Herlev, Mileparken
                            <br>
                            Mileparken 24
                            <br>
                            2730 Herlev
                            <br>
                            Denmark
                        </span>
            </p>
        </div>
        <div class="column">
            <div class="icon-size">
                <img class="svg-icon"
                     src="https://raw.githubusercontent.com/moniozd/2ndsemesterproject/805046fc4b87225266e54bfdc7cc8ecc8bcf2d0f/MotorhomesProject/src/main/resources/contact_icons/phone-svgrepo-com-2.svg"
                     alt="phone icon">
            </div>
            <h3>PHONE</h3>
            <p class="box-icon-content">
                        <span>
                            <b>Nordic Motor Homes</b>
                            <br>
                            +45 24 24 51 28
                        </span>
            </p>
            <p class="box-icon-content">
                        <span>
                            <b>Mechanic</b>
                            <br>
                            +45 24 24 44 58
                        </span>
            </p>
            <p class="box-icon-content">
                        <span>
                            <b>Falck Road Assistance - Copenhagen</b>
                            <br>
                            +45 70 10 20 31
                        </span>
            </p>
        </div>
        <div class="column">
            <div class="icon-size">
                <img class="svg-icon"
                     src="https://raw.githubusercontent.com/moniozd/2ndsemesterproject/805046fc4b87225266e54bfdc7cc8ecc8bcf2d0f/MotorhomesProject/src/main/resources/contact_icons/email-svgrepo-com-2.svg"
                     alt="email icon">
            </div>
            <h3>EMAIL</h3>
            <p class="box-icon-content">
                        <span>
                            <b>Business Inquires</b>
                            <br>
                            business@nordicmh.com
                        </span>
            </p>
            <p class="box-icon-content">
                        <span>
                            <b>Nordic Motor Homes Leasing</b>
                            <br>
                            leasing@nordicmh.com
                        </span>
            </p>
            <p class="box-icon-content">
                        <span>
                            <b>Book Keeper</b>
                            <br>
                            bookkeeper@nordicmh.com
                        </span>
            </p>
            <p class="box-icon-content">
                        <span>
                            <b>Jobs</b>
                            <br>
                            jobs@nordicmh.com
                        </span>
            </p>
        </div>
    </div>


</div>

<div id="padding-60"></div>

<div id="page-section-2">
    <div id="two-column-container">
        <div id="left-column-section-2">
            <h2>Message Us</h2>
            <div id="message-text-block">
                <p id="p1">
                    If you wish to be considered for employment at Nordic Motorhomes,
                    please do not send a message, here – instead,
                    please submmit any job application to Nordic Motorhomes job mail found above
                    and our Human Resources department will contact you after their
                    review of your submitted information.
                </p>
            </div>
        </div>
        <div id="form-block">
            <form action="https://formsubmit.co/aasjnyborg@hotmail.com" method="POST">
                <input type="text" name="first_name" placeholder="First Name" required>
                <input type="text" name="last_name" placeholder="Last Name" required>
                <input type="email" name="email" placeholder="E-mail" required>
                <input type="hidden" name="_subject" value="New General Inquiry">
                <textarea name="message" placeholder="Your message here..."></textarea>
                <input type="hidden" name="_captcha" value="false">
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</div>

<footer>
    <div id="footer">

        <section class="footer-table">
            <div class="social">
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>

            </div>

            <ul class="list">
                <li>
                    <a href="/about">ABOUT</a>
                </li>
                <li>
                    <a href="/contact">CONTACT</a>
                </li>
                <li>
                    <a href="/map">MAP</a>
                </li>
            </ul>
            <p class="copyright">
                Motorhome Nordic @ 2022
            </p>
        </section>
    </div>
</footer>


</body>
</html>