<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/global.css">
    <link rel="stylesheet" href="../../static/frontpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="../../static/contact.css">

</head>
<body>
<header id="top-bar">
    <a id="title" href="../frontpage/index.html"><h1>NORDIC<br>MOTORHOMES</h1></a>
    <nav>

        <div class="table">
            <ul id="nav-bar">
                <!--                <li class="border"><a href="/">HOME</a></li>-->

                <li class="border"><a href="../register_customer/register_a_customer.html">REGISTER A CUSTOMER</a></li>
                <li class="border"><a href="../book_a_car/book_a_car.html">BOOK A CAR</a></li>
                <li class="border"><a href="../gallery/gallery.html">GALLERY</a></li>
                <li class="border"><a href="../bookings/bookings.html">BOOKINGS</a></li>
                <li class="border"><a href="../mechanic/mechanic.html">MECHANIC</a></li>
                <!--                <li class="border"><a href="../employees/employees.html">EMPLOYEES</a></li>-->
                <li class="search-container"><label>
                    <input type="text" name="search-text" placeholder="Search..."
                           class="search-input"/>
                </label>
                    <button class="search-button">&#x1F50D</button>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div id="front_page_picture_div">
    <!--    <img src="../../bc_sonic-motorhomes.jpg" alt="Picture of a motor home and two people sitting outside during night"-->
    <!--         id="front_page_picture">-->
    <img src="../../day_sonic_of_hero_web.jpeg"
         alt="Picture of a motor home and two people sitting outside during the day" id="front_page_picture_day">
</div>

<div id="page-section">
    <div class="column-container">
        <div id="padding-1">

        </div>
    </div>
    <h2 id="contact-title">Get in touch</h2>

    <div class="row">
        <div class="column">
            <div class="icon-size">
                <img class="svg-icon" src="../../contact_icons/pin-svgrepo-com-2.svg" alt="map pin icon">
            </div>
            <h3>ADDRESS</h3>
            <p class="box-icon-content">
                        <span>
                            <b>Nordic Motor Homes</b>
                            <br>
                            Herlev, Mileparken
                            <br>
                            Mileparken 24
                            <br>
                            2730 Herlev
                            <br>
                            Denmark
                        </span>
            </p>
        </div>
        <div class="column">
            <div class="icon-size">
                <img class="svg-icon" src="../../contact_icons/phone-svgrepo-com-2.svg" alt="phone icon">
            </div>
            <h3>PHONE</h3>
            <p class="box-icon-content">
                        <span>
                            <b>Nordic Motor Homes</b>
                            <br>
                            +45 24 24 51 28
                        </span>
            </p>
            <p class="box-icon-content">
                        <span>
                            <b>Mechanic</b>
                            <br>
                            +45 24 24 44 58
                        </span>
            </p>
            <p class="box-icon-content">
                        <span>
                            <b>Falck Road Assistance - Copenhagen</b>
                            <br>
                            +45 70 10 20 31
                        </span>
            </p>
        </div>
        <div class="column">
            <div class="icon-size">
                <img class="svg-icon" src="../../contact_icons/email-svgrepo-com-2.svg" alt="email icon">
            </div>
            <h3>EMAIL</h3>
            <p class="box-icon-content">
                        <span>
                            <b>Business Inquires</b>
                            <br>
                            business@nordicmh.com
                        </span>
            </p>
            <p class="box-icon-content">
                        <span>
                            <b>Nordic Motor Homes Leasing</b>
                            <br>
                            leasing@nordicmh.com
                        </span>
            </p>
            <p class="box-icon-content">
                        <span>
                            <b>Book Keeper</b>
                            <br>
                            bookkeeper@nordicmh.com
                        </span>
            </p>
        </div>
    </div>


</div>

<footer>
    <div id="footer">

        <section class="footer-table">
            <div class="social">
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>

            </div>

            <ul class="list">
                <li>
                    <a href="../about/about.html">ABOUT</a>
                </li>
                <li>
                    <a href="../contact/contact.html">CONTACT</a>
                </li>
                <li>
                    <a href="../map/map.html">MAP</a>
                </li>
            </ul>
            <p class="copyright">
                Motorhome Nordic @ 2022
            </p>
        </section>
    </div>
</footer>


</body>
</html>