<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="icon" href="../../browser-icon.png">
    <link rel="stylesheet" href="../../static/global.css">
    <link rel="stylesheet" href="../../static/frontpage.css">
    <link rel="stylesheet" href="../../static/employees.css">
    <link rel="stylesheet" href="/frontpage.css">
    <link rel="stylesheet" href="/employees.css">
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>
<body>
<header id="top-bar">
    <a id="title" href="../frontpage/index.html"><h1>NORDIC<br>MOTORHOMES</h1></a>
    <nav>

        <div class="table">
            <ul id="nav-bar">
                <!--                <li class="border"><a href="/">HOME</a></li>-->

                <li class="border"><a href="/register_customer">REGISTER A CUSTOMER</a></li>
                <li class="border"><a href="/book_a_car">BOOK A CAR</a></li>
                <li class="border"><a href="/gallery">GALLERY</a></li>
                <li class="border"><a href="../register_booking">BOOKINGS</a></li>
                <li class="border"><a href="/mechanic">MECHANIC</a></li>
                <!--                <li class="border"><a href="../employees/employees.html">EMPLOYEES</a></li>-->
                <li class="search-container"><input type="text" name="search-text" placeholder="Search..."
                                                    class="search-input"/>
                    <button class="search-button">&#x1F50D</button>
                </li>
            </ul>
        </div>
        </div>
    </nav>
</header>
<div id="front_page_picture_div">
    <!--    <img src="../../bc_sonic-motorhomes.jpg" alt="Picture of a motor home and two people sitting outside during night"-->
    <!--         id="front_page_picture">-->
    <img src="https://raw.githubusercontent.com/moniozd/2ndsemesterproject/main/MotorhomesProject/src/main/resources/day_sonic_of_hero_web.jpeg"
         alt="Picture of a motor home and two people sitting outside during the day" id="front_page_picture_day">
</div>
<br>
<div class="employees">
    <h2>EMPLOYEES</h2>

    <div class="employees_gallery">
        <div class="employees_gallery">
            <div class="employee_picture">
                <figure>
                    <img src="https://st3.depositphotos.com/7874342/13868/v/380/depositphotos_138688974-stock-illustration-head-of-the-company-the.jpg?forcejpeg=true">
                    <figcaption>CEOs - Kate and Nick Johnson</figcaption>
                    <br>
                </figure>
            </div>
        </div>
        <div class="employees_gallery">
            <div class="employee_picture">
                <img src="https://www.mothermary.rw/images/img/lady.jpg">
                <figcaption>Sales Assistant - Kate Smith <br> Email: kate.sales@nordicmh.com
                    <br> Phone number: +129596</figcaption>
            </div>
        </div>
        <div class="employees_gallery">
            <div class="employee_picture">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Happy_Cartoon_Man_Using_A_Smartphone.svg/1200px-Happy_Cartoon_Man_Using_A_Smartphone.svg.png">
                <figcaption>Sales Assistant - Bradley Jones
                    <br> Email: bradley.sales@nordicmh.com
                <br> Phone number: +654321</figcaption>
            </div>
        </div>
        <div class="employees_gallery">
            <div class="employee_picture">
                <img src="https://media.istockphoto.com/vectors/happy-handsome-man-showing-thumbs-up-concept-illustration-in-cartoon-vector-id980239992?k=20&m=980239992&s=612x612&w=0&h=xAzgjGwK4PPI3k6ZMnPT-I-_BYjeIGwwIf-OgTYMZoc=">
                <figcaption>Sales Assistant - Steven Brown <br> Email: steven.sales@nordicmh.com
                <br> Phone number: +663325</figcaption>
            </div>
        </div>
        <div class="employees_gallery">
            <div class="employee_picture">
                <img src="https://images.assetsdelivery.com/compings_v2/vectorkif/vectorkif1902/vectorkif190200052.jpg">
                <figcaption>Sales Assistant - Nina Williams <br> Email: nina.sales@nordicmh.com
                <br> Phone number: +1243523</figcaption>
            </div>
        </div>
        <div class="employees_gallery">
            <div class="employee_picture">
                <img src="https://media.istockphoto.com/vectors/mechanic-vector-id607982056?k=20&m=607982056&s=612x612&w=0&h=XZa6X79pZR0Y_G1pBuSeTUBzG55DSD3DG1VEy_7iaC4=">
                <figcaption>Mechanic - Louis Adams <br> Email: louis.mechanic@nordicmh.com
                <br> Phone number: +663325</figcaption>
            </div>
        </div>
        <div class="employees_gallery">
            <div class="employee_picture">
                <img src="https://cutewallpaper.org/24/cartoon-cleaning-lady/77813191.jpg">
                <figcaption>Cleaning Staff - Georgia Martin
                    <br> Email: georgia.cleaning@nordicmh.com
                <br> Phone number: +543324</figcaption>
            </div>
        </div>
        <div class="employees_gallery">
            <div class="employee_picture">
                <img src="https://thumbs.dreamstime.com/b/cleaning-service-cartoon-cute-pose-vector-icon-illustration-isolated-premium-vector-cleaning-service-cartoon-cute-215762816.jpg">
                <figcaption>Cleaning Staff - Paul Wilson
                    <br> Email: paul.cleaning@nordicmh.com
                    <br> Phone number: +523738</figcaption>
            </div>
        </div>
        <div class="employees_gallery">
            <div class="employee_picture">
                <img src="https://i.dlpng.com/static/png/6794646_preview.png">
                <figcaption>Book Keeper - Maria Gomez <br> Email: maria@nordicmh.com
                <br> Phone number: +953683</figcaption>
            </div>
        </div>
    </div>
</div>
<footer>
    <div id="footer">

        <section class="footer-table">
            <div class="social">
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
            </div>

            <ul class="list">
                <li>
                    <a href="/about">ABOUT</a>
                </li>
                <li>
                    <a href="/contact">CONTACT</a>
                </li>
                <li>
                    <a href="/employees">EMPLOYEES</a>
                </li>
            </ul>
            <p class="copyright">
                Motorhome Nordic @ 2022
            </p>
        </section>
    </div>
</footer>
</div>
</body>
</html>